@charset "utf-8";
/* 基本設定 */

* {
	box-sizing: border-box;
}

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.logo {
	font-family: 'Pacifico', cursive;
	font-size : 37px ;
	padding : 20px 0 30px 0 ;
}

img {
	max-width : 100% ;
}

body {
	display: flex ;
}

.wrapper {
	width : 100% ;
	display : flex ;
}

.left_side {
	width : 60% ;
	background : #FF9696 ;
	display: none;
  	justify-content: center;
  	align-items: center;
}

.right_side {
	padding : 10px ;
	width : 100% ;
	height : 100vh ;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.right_side_wrapper {
	position : relative ;
	top : -5% ;
	max-width: 100%;
	width: 350px;
}

.flex_list {
	display: flex ;
}

.flex_list li {
	width : 50px ;
	padding : 13px ;
}

.tempo {
	padding : 5px;
	font-size: 15em;
	font-weight : bold;
	text-align: right;
	text-align: center ;
}

.player li {
	font-size : 30px ;
	cursor: pointer ;
}

.player li:last-child {
	font-size : 30px ;
}

.flash {
	position : fixed ;
	left : 20px ;
	top : -3px ;
	font-size : 80px ;
	margin-bottom : -20px ;
}

.play,
.stop {
	padding : 5px ;
	margin : 5px ;
	background : #333 ;
	color : #fff ;
	cursor : pointer ;
	text-align: center ;
}

.stop {

}

.speed_ctrl ul {
	text-align : center ;
}

.speed_ctrl li {
	padding : 5px ;
	margin : 5px ;
	background : #333 ;
	color : #fff ;
	cursor : pointer ;
}

.ctrl_panel {
	justify-content: center;
	align-items: center;
	margin : 20px 0 ;
}

.time_signature {
	font-size : 24px ;
	font-weight : bold ;
	color : #666 ;
	position : relative ;
	top : -10px ;
}

.anime1 {
	width : 400px ;
}

.anime1 .frame1,
.anime1 .frame2 {
	display : none ;
}

@media screen and (max-width:600px){
	.wrapper {
		width : 100% ;
		display : block ;
	}

	.left_side,
	.right_side {
		width : 100%;
	}

	.right_side {
		height : auto;
	}

	.tempo {
		font-size: 7em;
	}

	.anime1 {
			width : 50% ;
	}

	.logo {
		font-size: 20px;
		padding: 10px 0 0 0;
	}
}