<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>メトロノーム</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" contents="noindex,nofollow">

<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

<!--<link href="./css/materialize.css" rel="stylesheet" type="text/css" media="all">-->
<link href="./css/common.css" rel="stylesheet" type="text/css" media="all">
<link href="./css/styles.css" rel="stylesheet" type="text/css" media="all">
<link rel="shortcut icon" href="./images/favicon.ico"> 

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<meta name="viewport" content="width=device-width,initial-scale=1">
	
</head>
<body>

<div class="wrapper">

	<div class="left_side">
	</div>
	
	<div class="right_side" id="app">
		<p v-if="flash" class="flash">●</p>
	
		<div class="right_side_wrapper">
			<h1 class="center logo">Metronome</h1>
		
			<div class="display">
				<div class="tempo">{{ tempo }}</div>
			</div>
			
			<div class="time_signature">
				<p class="center">
					<select v-model="times">
						<option selected>4/4</option>
						<option>3/4</option>
						<option>5/4</option>
						<option>7/4</option>
						<option>1/4</option>
					</select>
				</p>
			</div>
			
			<input id="input-range" type="range" min="40" max="250" v-model="tempo">

			<div class="flex_list ctrl_panel">
				<div class="player">
					<ul class="flex_list">
						<li class="play" v-if="!isPlaying" @click="startPlay(tempo)"><i class="fas fa-play"></i></li>
						<li class="stop" v-if="isPlaying" @click="stopPlay(tempo)"><i class="fas fa-stop"></i></li>
					</ul>
				</div>
				
				<div class="speed_ctrl">
					<ul class="flex_list">
						<li class="tempo1_down" @mousedown="tempoChange(-1)"><</li>
						<li class="tempo1_up" @mousedown="tempoChange(1)">></li>
					</ul>
					<ul class="flex_list">
						<li class="tempo5_down" @mousedown="tempoChange(-5)">-5</li>
						<li class="tempo5_up" @mousedown="tempoChange(5)">+5</li>
					</ul>
				</div>
			</div>		
		</div>		
	
	</div>

</div>

<script src="./js/main.js" type="text/javascript"></script>