<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>メトロノーム</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" contents="noindex,nofollow">

<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

<!--<link href="./css/materialize.css" rel="stylesheet" type="text/css" media="all">-->
<link href="./css/common.css" rel="stylesheet" type="text/css" media="all">
<link href="./css/styles.css" rel="stylesheet" type="text/css" media="all">
<link rel="shortcut icon" href="./images/favicon.ico"> 

<!-- jQuery library (served from Google) -->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>-->
<script src="./js/materialize.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<meta name="viewport" content="width=device-width,initial-scale=1">
	
</head>
<body>

<div class="wrapper">

	<div class="left_side">
	</div>
	
	<div class="right_side" id="app">
		<p v-if="flash" class="flash">●</p>
	
		<div class="right_side_wrapper">
			<h1 class="center logo">Metronome</h1>
		
			<div class="display">
				<div class="tempo">{{ tempo }}</div>
			</div>
			
			<div class="time_signature">
				<p class="center">
					<select v-model="times">
						<option selected>4/4</option>
						<option>3/4</option>
						<option>5/4</option>
						<option>7/4</option>
						<option>1/4</option>
					</select>
				</p>
			</div>
			
			<input id="input-range" type="range" min="40" max="250" v-model="tempo">

			<div class="flex_list ctrl_panel">
				<div class="player">
					<ul class="flex_list">
						<li class="play" v-if="!isPlaying" @click="startPlay(tempo)"><i class="fas fa-play"></i></li>
						<li class="stop" v-if="isPlaying" @click="stopPlay(tempo)"><i class="fas fa-stop"></i></li>
					</ul>
				</div>
				
				<div class="speed_ctrl">
					<ul class="flex_list">
						<li class="tempo1_down" @mousedown="tempoChange(-1)"><</li>
						<li class="tempo1_up" @mousedown="tempoChange(1)">></li>
					</ul>
					<ul class="flex_list">
						<li class="tempo5_down" @mousedown="tempoChange(-5)">-5</li>
						<li class="tempo5_up" @mousedown="tempoChange(5)">+5</li>
					</ul>
				</div>
			</div>		
		</div>		
	
	</div>

</div>

<script>
new Vue({
	el: '#app',
	data: {
		tempo: 121,
		times: "4/4",
		firstClick: true,
		firstTick: true,
		silentStock: 0,
		count: 0,
		isPlaying: false,
		baseTime: null,
		tick: null,
		lastClickTimeStamp: null,
		flash: false,
		now: null,
		osc: null,
		gain: null,
		context: null,
		timer1: null,
		timer2: null,
	},
	methods: {
		makePulse(frequency) {
			const osc = this.context.createOscillator();
			const gain = this.context.createGain();

			// 音程
			osc.frequency.value = frequency;
			// 音量を0にしておく
			gain.gain.value = 0;

			// 設定を適用
			osc.connect(gain);
			gain.connect(this.context.destination);
			baseTime = performance.now() - this.context.currentTime * 1000;

		},
		startPlay() {
			if ( this.firstClick == true ) {
				// 裏で鳴らしておく
				this.osc.start(0);
			}
			
			this.lastClickTimeStamp = performance.now();	
			this.scheduling(this.tempo);

			this.firstClick = false;
			this.isPlaying = true;
		},
		stopPlay() {
			this.isPlaying = false;

			clearInterval(this.timer1);
			clearInterval(this.timer2);
			
			this.gain.gain.cancelScheduledValues(this.contexts.currentTime);
			this.gain.gain.value = 0;
		},
		tempoChange(value) {
			if( this.tempo < 40 || this.tempo > 250 ) { return };

			this.tempo = parseInt(this.tempo) + parseInt(value);
		},
		currentTime() {
			return this.baseTime + this.context.currentTime * 1000;
		},
		timestampToAudioctx(timeStamp) {
			return (timeStamp - this.baseTime) / 1000;
		},
		scheduling() {
			console.log("tick!");

			this.flash = true;
			this.tick = 60 * 1000 / this.tempo;

      console.log(performance.now());
			// 音量を上げる
			//this.gain.gain.setValueAtTime(1, performance.now() + 10);
			//　その後素早く(0.05秒で)音の減衰をさせる(ピーではなくピッという音にするため)
      //this.gain.gain.linearRampToValueAtTime(0, performance.now() + 15);
      this.gain.gain.value = 1;
      setTimeout(()=>this.gain.gain.value = 0, 30);

			this.timer1 = setTimeout(()=> this.scheduling(), this.tick);
      this.timer2 = setTimeout(()=> this.flash = false, 20 );

		}
	},
	created: function() {
		/*
		// オーディオコンテキスト作成
		this.context = new(window.AudioContext||window.webkitAudioContext)();
		
		// ゲインとオシレータの生成
		this.osc = this.context.createOscillator();
		this.gain = this.context.createGain();

		// 音程
		this.osc.frequency.value = 1400;
		
		// 音量を0にしておく
		this.gain.gain.value = 0;

		// 設定を適用
		this.osc.connect(this.gain);
		this.gain.connect(this.context.destination);
		*/

		this.context = new(window.AudioContext||window.webkitAudioContext)();
		this.osc = this.context.createOscillator();
		this.gain = this.context.createGain();
		
		this.osc.frequency.value = 1400;
    this.gain.gain.value = 0;

		this.osc.connect(this.gain);
		this.gain.connect(this.context.destination);
	}
});
</script>

<!--
<script src="./js/main.js" type="text/javascript"></script>
-->